<form nz-form nzLayout="inline" (ngSubmit)="submitForm()" #form="ngForm">
  <nz-form-item>
    <nz-form-label nzRequired>E-mail</nz-form-label>
    <nz-form-control nzErrorTip="Zadejte vaši emailovou adresu">
      <input nz-input [(ngModel)]="email" name="email" email required />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!form.valid || !form.dirty" [nzLoading]="sendingEmail">
        <nz-icon nzType="mail" nzTheme="outline" />Odeslat e-mail s přihlášením
      </button>
    </nz-form-control>
  </nz-form-item>
</form>


@if (sentInfo().sent) {
<div class="space-top-1">
  <nz-alert [nzType]="sentInfo().error ? 'error' : 'success'" [nzMessage]="sentInfo().message" nzShowIcon></nz-alert>
</div>
}