.events {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.events li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cancelled {
  text-decoration: line-through;
}
